{% load static %}
<!--footer-->
<footer class="footer">
    <div class="wrap">
        <div class="row">
            <!--column-->
            <article class="one-fourth">
                <h6>Забронируйте путешествие</h6>
                <p>1400 PennsylSUVia Ave. Washington, DC</p>
                <p><em></em class="number">Телефон:<a href="tel:+996 778 010039"> +996 778 010039</a></p>
                <a href="mailto:bekakasymjanov@gmail.com" class="text-primary">support@gmail.com</a>
            </article>
            <!--//column-->
            
            <!--column-->
            <!--//column-->
            
            <!--column-->
            <article class="one-fourth">
                <h6>Подписывайтесь на нас</h6>
                <ul class="social">
                        <li><a href="https://www.facebook.com/bookingcom" title="facebook"><i class="fa fa-fw fa-facebook"></i></a></li>
                        <li><a href="https://instagram.com/bookingcom?igshid=YmMyMTA2M2Y="><i class="fa fa-instagram"></i></a></li>
                        <li><a href="https://www.youtube.com/@bookingcom" title="youtube"><i class="fa  fa-fw fa-youtube"></i></a></li>
                        <li><a href="https://twitter.com/bookingcom" title="twitter"><i class="fa fa-fw fa-twitter"></i></a></li>
                        <li><a href="https://www.pinterest.com/bookingdotcom/" title="pinterest"><i class="fa fa-fw fa-pinterest-p"></i></a></li>
                    </ul>
            </article>
            <!--//column-->
            
            <!--column-->

            <!--//column-->
            
            <div class="bottom full-width">
                <p class="copy">Copyright 2016 Book your travel ltd. All rights reserved</p>
                <nav>
                    <ul>
                        <li><a href="#" title="About us">About us</a></li>
                        <li><a href="{% url 'contact' %}" title="Contact">Contact</a></li>
                        <li><a href="#" title="Partners">Partners</a></li>
                        <li><a href="#" title="FAQ">FAQ</a></li>
                        <li><a href="#" title="Terms & Conditions">Terms &amp; Conditions</a></li>
                        <li><a href="#" title="Privacy statement">Privacy statement</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</footer>
<!---footer-->
