{% load static  %}
	<!--header-->
	<header class="header">
		<div class="wrap">
			<!--logo-->
			<link rel="shortcut icon" href="{{ setting.logo.url }}">
			<div class="logo"><a href="{% url 'index'  %}" title="{{ setting.title }}"><img src="{{ setting.logo.url }}" alt="" /></a></div>
			<!--//logo-->
			
			<!--ribbon-->
			<div class="ribbon">
				<nav>
					{% if request.user.is_authenticated %}
					<ul class="profile-nav">
						<li class="active"><a href="{% url 'account' request.user.username %}" title="Профиль">Профиль</a></li>
					</ul>
					<ul class="currency-nav">
						<li class="active"><a href="{% url 'logout'  %}" title="регистрироваться">Выйти</a></li>
					</ul>
					{% else %}
					<ul class="lang-nav">
						<li class="active"><a href="{% url 'login' %}" title="Войти">Войти</a></li>
					</ul>
					<ul class="currency-nav">
						<li class="active"><a href="{% url 'register'  %}" title="регистрироваться">Регистрироваться</a></li>
					</ul>
					{% endif %}
				</nav>
			</div>
			<!--//ribbon-->
			
			<!--search-->
			<div class="search">
				<form id="search-form" action="{% url 'search' %}" method="POST">
					<input type="search"  placeholder="искать...."  id="site_search" /> 
					<input type="submit" id="submit-site-search" value="submit-site-search" name="key"/>
				</form>
			</div>
			<!--//search-->
			
			<!--contact-->
			<div class="contact">
				<span>24/7 Номер службы поддержки</span>
				<h6 class="number">Телефон:<a href="tel:+996 778 010039"> +996 778 010039</a></h6>
			</div>
			<!--//contact-->
		</div>
		
		<!--main navigation-->
		<nav class="main-nav">
			<div class="wrap">
				<ul class="slimmenu" id="nav">
					<li><a href="{% url 'index' %}" title="Отели">Домой</a>
					</li>
					<li><a href="{% url 'all_hotels' %}" title="Hotels">Отели</a>
					<li><a href="{% url 'cruises' %}" title="Круизы">Круизы</a></li>
					<li><a href="{% url 'car' %}" title="Car rental">Прокат автомобилей</a></li>
					<li><a href="locations.html" title="Места">Места</a>
					</li>
					<li class="has-mega"><a href="#" title="Страницы">Страницы</a>
						<ul class="mega">
							<li>
								<div class="row">
									<div class="one-fifth">
										
									</div>
									<div class="one-fifth">
										<p>	СПИСОК МАКЕТОВ</p>
										<ul>
											<li><a href="hotels_2col.html" title="Листинг 2 столбца">Листинг 2 столбца</a></li>
											<li><a href="hotels_3col.html" title="Листинг 3 столбца">Листинг 3 столбца</a></li>
											<li><a href="hotels.html" title="Листинг 4 столбца">Листинг 4 столбца</a></li>
											<li><a href="hotel.html" title="Единый листинг">Единый листинг</a></li>
										</ul>
									</div>
									<div class="one-fifth">
										<p>&nbsp;</p>
										<ul>
											<li><a href="booking-step1.html" title="Booking step 1">Booking step 1</a></li>
											<li><a href="booking-step2.html" title="Booking step 2">Booking step 2</a></li>
											<li><a href="booking-step3.html" title="Booking step 3">Booking step 3</a></li>
											<li><a href="loading.html" title="Loading">Loading</a></li>
										</ul>
									</div>
								</div>
							</li>
						</ul>
					</li>
					<li><a href="{% url 'contact' %}" title="Контакты">Контакты</a></li>
					<li><a href="blog.html" title="Блог">Блог</a>
					</li>
				</ul>
			</div>
		</nav>
		<!--//main navigation-->
	</header>
	<!--//header-->
	