{% load static  %}
	<!--header-->
	<header class="header">
		<div class="wrap">
			<!--logo-->
			<link rel="shortcut icon" href="{{ setting.logo.url }}">
			<div class="logo"><a href="{% url 'index'  %}" title="{{ setting.title }}"><img src="{{ setting.logo.url }}" alt="" /></a></div>
			<!--//logo-->
			
			<!--ribbon-->
			<div class="ribbon">
				<nav>
					{% if request.user.is_authenticated %}
					<ul class="profile-nav">
						<li class="active"><a href="#" title="Профиль">Профиль</a></li>
					</ul>
					<ul class="currency-nav">
						<li class="active"><a href="{% url 'logout'  %}" title="регистрироваться">Выйти</a></li>
					</ul>
					{% else %}
					<ul class="lang-nav">
						<li class="active"><a href="{% url 'login' %}" title="Войти">Войти</a></li>
					</ul>
					<ul class="currency-nav">
						<li class="active"><a href="{% url 'register'  %}" title="регистрироваться">регистрироваться</a></li>
					</ul>
					{% endif %}
				</nav>
			</div>
			<!--//ribbon-->
			
			<!--search-->
			<div class="search">
				<form id="search-form" method="get" action="search-form">
					<input type="search" placeholder="Search entire site here" name="site_search" id="site_search" /> 
					<input type="submit" id="submit-site-search" value="submit-site-search" name="submit-site-search"/>
				</form>
			</div>
			<!--//search-->
			
			<!--contact-->
			<div class="contact">
				<span>24/7 Номер службы поддержки</span>
				<span class="number">+996 778 010039</span>
			</div>
			<!--//contact-->
		</div>
		
		<!--main navigation-->
		<nav class="main-nav">
			<div class="wrap">
				<ul class="slimmenu" id="nav">
					<li><a href="hotels.html" title="Отели">Отели</a>
					</li>
					<li><a href="flights.html" title="Рейсы">Рейсы</a></li>
					<li><a href="cruises.html" title="Круизы">Круизы</a></li>
					<li><a href="car_rentals.html" title="Car rental">Прокат автомобилей</a></li>
					<li><a href="locations.html" title="Места">Места</a>
						<ul>
							<li><a href="location.html" title="Одно место">Одно место</a>
						</ul>
					</li>
					<li><a href="hot_deals.html" title="Горячие предложения">Горячие предложения</a></li>
					<li class="has-mega"><a href="#" title="Страницы">Страницы</a>
						<ul class="mega">
							<li>
								<div class="row">
									<div class="one-fifth">
										<p>ОБЩИЕ СТРАНИЦЫ</p>
										<ul>
											<li><a href="page_left_sidebar.html" title="Страница с левой боковой панелью">Страница с левой боковой панелью</a></li>
											<li><a href="page_right_sidebar.html" title="Страница с правой боковой панелью">Страница с правой боковой панелью</a></li>
											<li><a href="page_both_sidebars.html" title="Страница с обеими боковыми панелями">Страница с обеими боковыми панелями</a></li>
											<li><a href="page_no_sidebars.html" title="Страница без боковых панелей">Страница без боковых панелей</a></li>
										</ul>
									</div>
									<div class="one-fifth">
										<p>	СПИСОК МАКЕТОВ</p>
										<ul>
											<li><a href="hotels_2col.html" title="Листинг 2 столбца">Листинг 2 столбца</a></li>
											<li><a href="hotels_3col.html" title="Листинг 3 столбца">Листинг 3 столбца</a></li>
											<li><a href="hotels.html" title="Листинг 4 столбца">Листинг 4 столбца</a></li>
											<li><a href="hotel.html" title="Единый листинг">Единый листинг</a></li>
										</ul>
									</div>
									<div class="one-fifth">
										<p>СТРАНИЦЫ ПОЛЬЗОВАТЕЛЯ</p>
										<ul>
											<li><a href="login.html" title="Войти">Войти</a></li>
											<li><a href="register.html" title="регистрироваться">регистрироваться</a></li>
											<li><a href="my_account.html" title="Профиль">Профиль</a></li>
										</ul>
									</div>
									<div class="one-fifth">
										<p>СПЕЦИАЛЬНЫЕ СТРАНИЦЫ</p>
										<ul>
											<li><a href="search_results.html" title="Результаты поиска гостиницы">Результаты поиска гостиницы</a></li>
											<li><a href="search_results_flights.html" title="Результаты поиска рейсов">Результаты поиска рейсов</a></li>
										</ul>
									</div>
									<div class="one-fifth">
										<p>&nbsp;</p>
										<ul>
											<li><a href="booking-step1.html" title="Booking step 1">Booking step 1</a></li>
											<li><a href="booking-step2.html" title="Booking step 2">Booking step 2</a></li>
											<li><a href="booking-step3.html" title="Booking step 3">Booking step 3</a></li>
											<li><a href="loading.html" title="Loading">Loading</a></li>
										</ul>
									</div>
								</div>
							</li>
						</ul>
					</li>
					<li><a href="contact.html" title="Контакты">Контакты</a></li>
					<li><a href="blog.html" title="Блог">Блог</a>
						<ul>
							<li><a href="blogx_single.html" title="Один пост">Один пост</a>
						</ul>
					</li>
				</ul>
			</div>
		</nav>
		<!--//main navigation-->
	</header>
	<!--//header-->
	