{% load static  %}
	<!--header-->
	<header class="header">
		<div class="wrap">
			<!--logo-->
			<link rel="shortcut icon" href="{{ setting.logo.url }}">
			<div class="logo"><a href="{% url 'index'  %}" title="{{ setting.title }}"><img src="{{ setting.logo.url }}" alt="" /></a></div>
			<!--//logo-->
			
			<!--ribbon-->
			<div class="ribbon">
				<nav>
					{% if request.user.is_authenticated %}
					<ul class="profile-nav">
						<li class="active"><a href="{% url 'account' request.user.username %}" title="Профиль">Профиль</a></li>
					</ul>
					<ul class="currency-nav">
						<li class="active"><a href="{% url 'logout'  %}" title="регистрироваться">Выйти</a></li>
					</ul>
					{% else %}
					<ul class="lang-nav">
						<li class="active"><a href="{% url 'login' %}" title="Войти">Войти</a></li>
					</ul>
					<ul class="currency-nav">
						<li class="active"><a href="{% url 'register'  %}" title="регистрироваться">Регистрироваться</a></li>
					</ul>
					{% endif %}
				</nav>
			</div>
			<!--//ribbon-->
			
			<!--search-->
			<div class="search">
				<form id="search-form" action="{% url 'search' %}" method="POST">
					<input type="search"  placeholder="искать...."  id="site_search" /> 
					<input type="submit" id="submit-site-search" value="submit-site-search" name="key"/>
				</form>
			</div>
			<!--//search-->
			
			<!--contact-->
			<div class="contact">
				<span>24/7 Номер службы поддержки</span>
				<h6 class="number">Телефон:<a href="tel:+996 778 010039"> +996 778 010039</a></h6>
			</div>
			<!--//contact-->
		</div>
		
		<!--main navigation-->
		<nav class="main-nav">
			<div class="wrap">
				<ul class="slimmenu" id="nav">
					<li><a href="{% url 'index' %}" title="Отели">Домой</a>
					</li>
					<li><a href="{% url 'all_hotels' %}" title="Hotels">Отели</a>
					<li><a href="{% url 'cruise' %}" title="Круизы">Круизы</a></li>
					<li><a href="{% url 'car' %}" title="Car rental">Прокат автомобилей</a></li>
					</li>
					<li><a href="{% url 'contact' %}" title="Контакты">Контакты</a></li>
					</li>
				</ul>
			</div>
		</nav>
		<!--//main navigation-->
	</header>
	<!--//header-->
	