{% extends 'homepage.html' %}
{% load static  %}
{% block content %}
<!--- loading animation -->
	<div class="loading">
		<div class="ball"></div>
		<div class="ball1"></div>
	</div>
	<!--- //loading animation -->
	{% include 'include/header.html' %}

	<!--main-->
	<main class="main">		
		<div class="wrap">
			<!--breadcrumbs-->
			<nav class="breadcrumbs">
				<!--crumbs-->
				<ul>
					<li><a href="{% url 'index' %}" title="Home">Дом</a></li> 
					<li>Контакт</li>                                       
				</ul>
				<!--//crumbs-->
			</nav>
			<!--//breadcrumbs-->
			
			<div class="row">
				<!--three-fourth content-->
				<div class="three-fourth">
					<h1>Свяжитесь с нами</h1>
					<!--map-->
					<div class="map-wrap">
						
						<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3328.5536593194793!2d72.80122972996568!3d40.538011938355226!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38bdac011cc56779%3A0xa07af22cd6e2eb71!2zNDDCsDMyJzE4LjkiTiA3MsKwNDgnMDEuOSJF!5e0!3m2!1sru!2skg!4v1668954785121!5m2!1sru!2skg" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
						
					</div>
					<!--//map-->
				</div>	
				<!--three-fourth content-->
				
				<!--sidebar-->
				<aside class="one-fourth right-sidebar lower">
					<!--contact form-->
					<article class="widget">
						<h4>Отправьте нам сообщение</h4>
						<form method="post" name="myForm" onsubmit="return validateForm()">
							{% csrf_token %}
							<fieldset>
								<div id="message"></div>
								<div class="row">
									<div class="f-item full-width">
										<label for="name">Ваше имя:</label>
										<input type="text" id="name" name="name" value="" />
									</div>
									<div class="f-item full-width">
										<label for="email">Ваш email</label>
										<input type="email" id="email" name="email" value="" />
									</div>
									<div class="f-item full-width">
										<label for="comments">Твое сообщение</label>
										<textarea id="comments" rows="10" name="message" cols="10"></textarea>
									</div>
									<div class="f-item full-width">
										<input type="submit" value="Отправить сообщение" id="submit" name="submit" class="gradient-button" />
									</div>
								</div>
							</fieldset>
						</form>
					</article>
					<!--//contact form-->
					
					<!--contact info-->
					<article class="widget">
						<h4>Или свяжитесь с нами напрямую</h4>
						<h6 class="text-gray">Телефон:<a href="tel:+996 778 010039"> +996 778 010039</a></h6>
						<a href="mailto:bekakasymjanov@gmail.com" class="text-primary">support@gmail.com</a>
					</article>
					<!--//contact info-->
				</aside>
				<!--//sidebar-->
			</div>
			<!--//main content-->
		</div>
	</main>
	<!--//main-->
	
	<!--footer-->
	{% include 'include/footer.html' %}
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
	<script src="http://maps.googleapis.com/maps/api/js?v=3&amp;sensor=false"></script>
	<script type="text/javascript"  src="{% static 'js/infobox.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/jquery.uniform.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/jquery.slimmenu.min.j' %}s"></script>
	<script type="text/javascript" src="{% static 'js/scripts.js' %}"></script>
	
	<script type="text/javascript">
	function initialize() {
		var secheltLoc = new google.maps.LatLng(49.47216, -123.76307);

		var myMapOptions = {
			 zoom: 15
			,center: secheltLoc
			,mapTypeId: google.maps.MapTypeId.ROADMAP
		};
		var theMap = new google.maps.Map(document.getElementById("map_canvas"), myMapOptions);


		var marker = new google.maps.Marker({
			map: theMap,
			draggable: true,
			position: new google.maps.LatLng(49.47216, -123.76307),
			visible: true
		});

		var boxText = document.createElement("div");
		boxText.innerHTML = "<strong>Book Your Travel</strong><br>1400 PennsylSUVia Ave,<br>Washington DC";
		

		var myOptions = {
			 content: boxText
			,disableAutoPan: false
			,maxWidth: 0
			,pixelOffset: new google.maps.Size(-140, 0)
			,zIndex: null
			,closeBoxURL: ""
			,infoBoxClearance: new google.maps.Size(1, 1)
			,isHidden: false
			,pane: "floatPane"
			,enableEventPropagation: false
		};

		google.maps.event.addListener(marker, "click", function (e) {
			ib.open(theMap, this);
		});

		var ib = new InfoBox(myOptions);
		ib.open(theMap, marker);
	}
	</script>
	
	<!-- TEMPLATE STYLES -->
{% endblock %}