{% extends 'homepage.html' %}
{% load static %}
{% block content %}

	<!--- loading animation -->
	<div class="loading">
		<div class="ball"></div>
		<div class="ball1"></div>
	</div>
	<!--- //loading animation -->
	
	{% include 'include/header.html' %}

	<!--slider-->
	<div class="slider">
		<ul id="hero-gallery" class="cS-hidden">
			<li data-thumb="{% static 'images/uploads/slider7.jpg' %}"> 
				<img src="{% static 'images/uploads/slider7.jpg' %}" alt="" />
			</li>
			<li data-thumb="{% static 'images/uploads/slider3.jpg' %}"> 
				<img src="{% static 'images/uploads/slider3.jpg' %}" alt="" />
			</li>
			<li data-thumb="{% static 'images/uploads/slider2.jpg' %}"> 
				<img src="{% static 'images/uploads/slider2.jpg' %}" alt="" />
			</li>	
		</ul>
	</div>
	<!--//slider-->
	
	<!--search-->
	<div class="main-search">
		<div class="wrap">
		</div>
	</div>
	<!--//search-->
	
	<!--main-->
	<main class="main">
		<div class="wrap">
			<div class="row">
				<div class="full-width">
				
					<!--latest offers-->
			
					<!--//latest offers-->
					
					<header class="s-title">
						<h2>Популярные направления по всему миру</h2>
					</header>
					
					<!--top destinations-->
					<div class="destinations">
						<div class="row">
							<!--column-->
							{% for location in locations  %}
							<article class="one-fourth">
								<figure><a href="location.html" title=""><img src="{{ location.image.url }}" alt="" /></a></figure>
								<div class="details">
									<a href="location.html" title="Посмотреть все" class="gradient-button">Посмотреть все</a>
									<h4>{{ location.title| truncatewords:5}}</h4>
									<span class="count">1529 отелей</span>
									<div class="ribbon">
										<div class="half hotel">
											<a href="hotels.html" title="View all">
												<span class="small">От</span>
												<span class="price">{{ location.price }} {{ location.currency }}</span>
											</a>
										</div>
										<div class="half flight">
											<a href="flights.html" title="View all">
												<span class="small">От</span>
												<span class="price">&#36; 150</span>
											</a>
										</div>
									</div>
								</div>
							</article>
							{% endfor %}
							<!--//column-->
							<header class="s-title">
								<h2>Горячие предложение</h2>
							  </header>
							  
							  <!--column-->
							  {% for hotel in hotels %}
							  {% if hotel.best == True %}
							  <article class="one-fourth promo">
								<div class="ribbon-small">- {{ hotel.sale }}%</div>
								<figure><a href="hot_deals.html" title=""><img src="{{ hotel.image.url }}" alt="" /></a></figure>
								<div class="details">
								  <a href="{% url 'hotel_details' hotel.id  %}" title="View all" class="gradient-button">Подробнее</a>
								  <h4>{{ hotel.title }}</h4>
								  <span class="count">{{ hotel.place }}</span>
								  <div class="ribbon">
									<div class="half hotel">
									  <a href="hotels.html" title="View all">
										<span class="small">from</span>
										<span class="price">&#36; {{ hotel.price }}</span>
									  </a>
									</div>
									<div class="half flight">
									  <a href="flights.html" title="View all">
										<span class="small">from</span>
										<span class="price">&#36; {{ hotel.airplane_prices }}</span>
									  </a>
									</div>
								  </div>
								</div>
							  </article>
							  {% endif %}
							  {% endfor %}
							  <!--//column-->
							  {% for hotel in hotels %}
							  {% if hotel.best == False %}
							  <article class="one-fourth promo">
								<div class="ribbon-small">- {{ hotel.sale }}%</div>
								<figure><a href="hot_deals.html" title=""><img src="{{ hotel.image.url }}" alt="" /></a></figure>
								<div class="details">
								  <a href="{% url 'hotel_details' hotel.id  %}" title="View all" class="gradient-button">Хочу</a>
								  <h4>{{ hotel.title }}</h4>
								  <span class="count">{{ hotel.place }}</span>
								  <div class="ribbon">
									<div class="half hotel">
									  <a href="hotels.html" title="View all">
										<span class="small">from</span>
										<span class="price">&#36; {{ hotel.price }}</span>
									  </a>
									</div>
									<div class="half flight">
									  <a href="flights.html" title="View all">
										<span class="small">from</span>
										<span class="price">&#36; {{ hotel.airplane_prices }}</span>
									  </a>
									</div>
								  </div>
								</div>
							  </article>
							  {% endif %}
							  {% endfor %}
							  <!--column-->
							<!--//column-->
						</div>
					</div>
					<!--//top destinations-->
			
			
					<!--info boxes-->
					<div class="boxes">
						<div class="row">
						<!--column-->
						<article class="one-fourth">
							<div>
								<h4>Отобранные отели</h4>
								<p>Все отели Book Your Travel соответствуют строгим критериям отбора. Каждый отель выбирается индивидуально, и включение не может быть куплено. </p>
							</div>
						</article>
						<!--//column-->
						
						<!--column-->
						<article class="one-fourth">
							<div>
								<h4>Подробные описания</h4>
								<p>Чтобы дать вам точное представление об отеле, мы стараемся публиковать прозрачные, сбалансированные и точные описания отелей.. </p>
							</div>
						</article>
						<!--//column-->
						
						<!--column-->
						<article class="one-fourth">
							<div>
								<h4>Эксклюзивные знания</h4>
								<p>Мы провели наше исследование. Наши разведчики всегда заняты тем, чтобы узнать больше о наших отелях, окрестностях и мероприятиях, предлагаемых поблизости.</p>
							</div>
						</article>
						<!--//column-->
						
						<!--column-->
						<article class="one-fourth">
							<div>
								<h4>страстный сервис</h4>
								<p>	Команда Book Your Travels удовлетворит ваши особые запросы. Мы предлагаем экспертные и страстные советы по поиску подходящего отеля. </p>
							</div>
						</article>
						<!--//column-->
						
						<!--column-->
						<article class="one-fourth">
							<div>
								<h4>Гарантия лучшей цены</h4>
								<p>Мы предлагаем лучшие отели по лучшим ценам. Если вы найдете номер той же категории в те же даты дешевле в другом месте, мы вернем разницу. Гарантированно и быстро.</p>
							</div>
						</article>
						<!--//column-->
						
						<!--column-->
						<article class="one-fourth">
							<div>
								<h4>Безопасное бронирование</h4>
								<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Esse et maiores expedita, quis, sequi quam vel molestiae aperiam neque sit eaque optio ea blanditiis quidem iure aliquam. Natus, quas pariatur.</p>
							</div>
						</article>
						<!--//column-->
						
						<!--column-->
						<article class="one-fourth">
							<div>
								<h4>Преимущества для отельеров</h4>
								<p>Мы предлагаем экономически эффективную модель, сеть из более чем 5000 партнеров и персонализированную службу управления учетными записями, чтобы помочь вам оптимизировать ваши доходы.</p>
							</div>
						</article>
						<!--//column-->
						
						<!--column-->
						<article class="one-fourth">
							<div>
								<h4>Любые вопросы?</h4>
								<p>Позвоните нам<em>+996 778 010039</em> для индивидуального, индивидуального совета для вашего идеального пребывания или <a href="contact.html" title="Contact">отправить нам сообщение</a> с вашим запросом бронирования отеля.</p>
							</div>
						</article>
						<!--//column-->
					</div>
				</div>
					<!--//info boxes-->
				</div>
			</div>
		</div>
	</main>
	<!--//main-->
	
	
	{% include 'include/footer.html' %}
	{% endblock %}