{% extends 'homepage.html' %}
{% load static %}
{% block content %}
	<!--- loading animation -->
	<div class="loading">
		<div class="ball"></div>
		<div class="ball1"></div>
	</div>
	<!--- //loading animation -->
	
	<!--header-->
	{% include 'include/header.html' %}
	<!--//header-->

	<!--//main-->
	<div class="lightbox" style="display:block; overflow: auto;">
		<div class="lb-wrap">
			<a href="#" class="close">x</a>
			<div class="lb-content">
				<form class="row" method="POST">
				{% csrf_token  %}
					<h3>Регистрация</h3>
					<div class="f-item full-width">
						<label for="f_name">Имя пользователя</label>
						<input type="text" id="username" name="username" />
					</div>
					<div class="f-item full-width">
						<label for="f_name">Имя</label>
						<input type="text" id="first_name" name="first_name" />
					</div>
					<div class="f-item full-width">
						<label for="f_name">Фамилия</label>
						<input type="text" id="last_name" name="last_name" />
					</div>
					<div class="f-item full-width">
						<label for="email">E-mail</label>
						<input type="email" id="email" name="email" />
					</div>
					<div class="row">
					  </div>
					  <div class="f-item full-width">
						<label for="password">Номер телефона</label>
						<input type="number" id="phone" name="phone" />
					</div>
					<div class="f-item full-width">
						<label for="password">Пароль</label>
						<input type="password" id="password" name="password" />
					</div>
					<div class="f-item full-width">
						<label for="password">Подтвердите пароль</label>
						<input type="password" id="password2" name="password2" />
					</div>
					<div class="f-item checkbox full-width">
						<p>Нажимая «Создать учетную запись», вы подтверждаете, что принимаете<a href="#">Условия пользования</a> и <a href="#">Политика конфиденциальности</a>. </p>
						<div class="form-group">
							<button class="btn btn-dark btn-lg btn-block mt-15" type="submit">Регистрироваться</button>
						  </div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<!--footer-->
	{% include 'include/footer.html' %}
	{% endblock %}